@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--medium {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.container--small {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 3%;
}

* {
  font-family: "Fredoka One", sans-serif;
}

p, input, span {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 16px;
}

header * {
  color: #FFFFFF;
}

h1 {
  font-size: 60px;
}

h1 ~ p {
  font-size: 18px;
  line-height: 180%;
}

h2, h3 {
  color: #223441;
}

h2 {
  font-size: 45px;
}

h2 ~ p {
  color: #223441;
}

p {
  line-height: 150%;
}

.faculty_box h3 {
  color: #E56768;
}

.faculty_overview h3 {
  font-size: 38px;
}
.faculty_overview p {
  color: #8B8B8A;
}

.btn {
  display: inline-block;
}
.btn--function {
  border: none;
}
.btn--function:focus {
  outline: none;
}
.btn--function:hover {
  cursor: pointer;
}
.btn--big, .btn--medium {
  padding: 0 40px;
  border-radius: 40px;
}
.btn--big {
  height: 70px;
  line-height: 70px;
}
.btn--medium {
  height: 64px;
  line-height: 64px;
}
.btn--primary {
  background-color: #E56768;
  color: #FFFFFF;
}
.btn--secondary {
  background-color: #E9D758;
  color: #FFFFFF;
}
.btn--inverted {
  background-color: #FFFFFF;
  color: #E56768;
}

main .btn {
  box-shadow: 0 0 20px -3px #CCCCCC;
}

header {
  background-image: url("../images/theme_slider2_bg-1.jpg");
  background-size: cover;
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
}
header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DA5F60E6;
}
header::after {
  content: "";
  background-image: url("../images/wave-1.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: -10%;
  height: 133px;
  width: 2116px;
}
header > * {
  position: relative;
  z-index: 3;
}

#top-bar {
  padding: 50px 45px 0;
}

#top-bar li:not(:last-child) {
  margin-right: 30px;
}

.logo {
  width: 240px;
}

details > summary {
  list-style: none;
}

details > summary::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  color: #FFFFFF;
  margin-left: 10px;
  font-size: 14px;
}

#hero {
  width: 50%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}

.hero__actions {
  position: relative;
  height: 70px;
}

.hero__actions .btn.btn--secondary {
  position: absolute;
  margin-right: 15px;
  right: 50%;
}

.hero__actions .btn.btn--inverted {
  position: absolute;
  margin-left: 15px;
  left: 50%;
}

#side-bar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E9D758;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 20px #3F3F3F;
}

#side-bar > * {
  display: block;
  font-size: 18px;
  padding: 10px;
}

.fa-life-ring {
  transform: rotate(45deg);
}

.feature_box__text {
  width: 50%;
}

.feature_box__text img {
  width: 60px;
}

.feature_box__img {
  width: 45%;
}

#faculties {
  margin-top: 200px;
}
#faculties h2, #faculties h2 ~ p {
  text-align: center;
}
#faculties h2 ~ p {
  width: 365px;
  margin-left: auto;
  margin-right: auto;
}

.selector__bar {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px #ECECEE;
  border-top: 1px solid #ECECEE;
  border-bottom: 1px solid #ECECEE;
}

.faculty_box {
  padding: 42px 70px;
  border-left: 1px solid #ECECEE;
  border-right: 1px solid #ECECEE;
}
.faculty_box img {
  width: 108px;
}

.faculty_overview__img {
  width: 35%;
}

.faculty_overview__text {
  width: 55%;
  text-align: left;
}
