@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--medium {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.container--small {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 3%;
}

.section--inverted {
  background-color: #E56768;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: "Fredoka One", sans-serif;
}

p, input, span {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 16px;
}

.section--inverted h2, .section--inverted h3, .section--inverted h4, .section--inverted span, .section--inverted p {
  color: #FFFFFF;
}

header * {
  color: #FFFFFF;
}

h1 {
  font-size: 60px;
}

h1 ~ p {
  font-size: 18px;
  line-height: 180%;
}

h2, h3 {
  color: #223441;
}

h2 {
  font-size: 45px;
}

h2 ~ p {
  color: #223441;
}

p {
  line-height: 150%;
}

.faculty_box h3 {
  color: #E56768;
}

.faculty_overview h3 {
  font-size: 38px;
}
.faculty_overview p {
  color: #8B8B8A;
}

.schedule__table h3 {
  font-size: 20px;
}

#schedule .exposition_card h3 {
  color: #223441;
  font-size: 28px;
}
#schedule .exposition_card span,
#schedule .exposition_card p {
  color: #74777B;
}
#schedule .exposition_card span {
  font-size: 14px;
}

.btn {
  display: inline-block;
  white-space: nowrap;
}
.btn--function {
  border: none;
}
.btn--function:focus {
  outline: none;
}
.btn--function:hover {
  cursor: pointer;
}
.btn--big, .btn--medium {
  padding: 0 40px;
  border-radius: 40px;
}
.btn--big {
  height: 70px;
  line-height: 70px;
}
.btn--medium {
  height: 64px;
  line-height: 64px;
}
.btn--xsmall {
  height: 42px;
  line-height: 38px;
  padding: 0 25px;
  border-radius: 20px;
}
.btn--primary {
  background-color: #E56768;
  color: #FFFFFF;
}
.btn--secondary {
  background-color: #E9D758;
  color: #FFFFFF;
}
.btn--inverted {
  background-color: #FFFFFF;
  color: #E56768;
}

main .btn {
  box-shadow: 0 0 20px -3px #CCCCCC;
}

header {
  background-image: url("../images/theme_slider2_bg-1.jpg");
  background-size: cover;
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
}
header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DA5F60E6;
}
header::after {
  content: "";
  background-image: url("../images/wave-1.png");
  background-size: cover;
  position: absolute;
  height: 133px;
  width: 2116px;
  bottom: 0;
  left: -10%;
}
header > * {
  position: relative;
  z-index: 3;
}

#top-bar {
  padding: 50px 45px 0;
}

#top-bar li:not(:last-child) {
  margin-right: 30px;
}

.logo {
  width: 240px;
}

details > summary {
  list-style: none;
}

details > summary::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  color: #FFFFFF;
  margin-left: 10px;
  font-size: 14px;
}

#hero {
  width: 50%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}

.hero__actions {
  position: relative;
  height: 70px;
}

.hero__actions .btn.btn--secondary {
  position: absolute;
  margin-right: 15px;
  right: 50%;
}

.hero__actions .btn.btn--inverted {
  position: absolute;
  margin-left: 15px;
  left: 50%;
}

#side-bar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #E9D758;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 20px #3F3F3F;
}

#side-bar > * {
  display: block;
  font-size: 18px;
  padding: 10px;
}

.fa-life-ring {
  transform: rotate(45deg);
}

.feature_box__text {
  width: 50%;
}

.feature_box__text img {
  width: 60px;
}

.feature_box__img {
  width: 45%;
}

#faculties {
  margin-top: 200px;
}
#faculties h2, #faculties h2 ~ p {
  text-align: center;
}
#faculties h2 ~ p {
  width: 365px;
  margin-left: auto;
  margin-right: auto;
}

.selector__bar {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px #ECECEE;
  border-top: 1px solid #ECECEE;
  border-bottom: 1px solid #ECECEE;
}

.faculty_box {
  padding: 42px 70px;
  border-left: 1px solid #ECECEE;
  border-right: 1px solid #ECECEE;
}
.faculty_box img {
  width: 108px;
}

.faculty_overview__img {
  width: 35%;
}

.faculty_overview__text {
  width: 55%;
  text-align: left;
}

#schedule {
  padding: 230px 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}
#schedule::before, #schedule::after {
  content: "";
  background-image: url("../images/wave-1.png");
  background-size: cover;
  position: absolute;
  height: 133px;
  width: 2116px;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}
#schedule .container--schedule {
  width: 68%;
}
#schedule .schedule__icon {
  width: 65px;
}

.title--background {
  background-color: #D8282A;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.schedule__table img {
  width: 100%;
}

.table__text {
  display: inline-block;
  width: 35%;
  position: relative;
  margin: 0 2.5%;
}
.table__text--top {
  left: 10%;
}
.table__text--bottom {
  margin-top: 20px;
  left: -10%;
}

.exposition_card {
  position: relative;
  display: inline-block;
  padding: 40px 35px;
  border-radius: 18px;
}
.exposition_card:not(:last-child) {
  margin-right: 22px;
}
.exposition_card span {
  display: block;
}
.exposition_card .btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

#schedule .exposition_card {
  width: calc( 33% - 44px / 3 );
  background-color: #FFFFFF;
}
