* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.flex_row {
  display: flex;
  justify-content: space-between;
}

.flex_center {
  align-items: center;
}

* {
  font-family: "Fredoka One", sans-serif;
}

p, input, span {
  font-family: sans-serif;
}

header * {
  color: #FFFFFF;
}

header {
  background-image: url("../images/theme_slider2_bg-1.jpg");
  background-size: cover;
  position: relative;
}
header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DA5F60E6;
}
header > * {
  position: relative;
  z-index: 3;
}

#top-bar {
  padding: 50px 45px 0;
}

#top-bar li:not(:last-child),
#hero .btn:not(:last-child) {
  margin-right: 20px;
}

.logo {
  width: 240px;
}
