<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mada:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Eduprime - Home</title>
</head>
<body>
  <div id="app">
    <header class="section--inverted">
      <div id="top-bar" class="flex_center">
        <img class="logo" src="images/theme_eduprime_logo.png" alt="Eduprime logo">
        <nav>
          <ul class="flex_center">
            <li>
              <details>
                <summary>Home</summary>
              </details>
            </li>
            <li>
              <details>
                <summary>Courses</summary>
              </details>
            </li>
            <li><a href="#">About Us</a></li>
            <li>
              <details>
                <summary>News</summary>
              </details>
            </li>
            <li>
              <details>
                <summary>Pages</summary>
              </details>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Purchase</a></li>
            <li>
              <a class="btn btn--medium btn--secondary" href="#">VIEW COURSES</a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="hero">
        <h1>Key to your success</h1>
        <p class="mt-50">EduPrime is the most versatile WordPress theme for educational purposes,
          showcasing universities, courses, secondary schools etc.</p>
          <div class="hero__actions mt-50">
            <button class="btn btn--function btn--big btn--secondary" type="button" name="button"><i class="fas fa-search"></i> Search courses</button>
            <button class="btn btn--function btn--big btn--inverted" type="button" name="button"><i class="fas fa-user-plus btn--inverted"></i> Apply for university</button>
          </div>
        </div>
      <div id="side-bar">
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
          <a href="#"><i class="fas fa-book-open"></i></a>
          <a href="#"><i class="far fa-life-ring"></i></a>
        </div>
    </header>
    <main>
      <section class="pos-relative" id="presentation">
        <div class="feature_box flex_center container--medium">
          <div class="feature_box__text">
            <img src="images/Books-icon.png" alt="thousands of courses icon">
            <h2 class="mt-20">Thousands of courses for any type of student</h2>
            <p class="mt-40">At EduPrime, it doesn't matter what domain you wish to pursue a career in. Here you can find a course that satisfies your needs within a click away and applies for a course in a matter of minutes. EduPrime is ranked as the most versatile university in the world, thanks to the number of courses it provides.</p>
            <a class="btn btn--medium btn--secondary mt-35" href="#">Browse through courses</a>
          </div>
          <img src="images/Graduation-Illustration.png" alt="graduation illustration" class="feature_box__img">
        </div>
      </section>
      <section id="faculties">
        <h2>Faculties available at EduPrime</h2>
        <p class="mt-50">A single university with a load of courses, tailored
          to satisfy any student's needs.</p>
          <div class="faculties__selector mt-50">
            <div class="selector__bar">
              <div class="faculty_box">
                <img src="images/Gavel-v2.png" alt="law faculty icon">
                <h3 class="mt-10">Law faculty</h3>
              </div>
            </div>
            <div class="faculty_overview flex_center container--small mt-80">
              <img src="images/Gavel-Illustration-e1556884768193.png" alt="law faculty illustration" class="faculty_overview__img">
              <div class="faculty_overview__text">
                <h3 class="mt-20">Law faculty</h3>
                <p class="mt-40">Learning from world-leading academics and practitioners, you'll not only receive
                  an outstanding grounding in the theory of law, but you will be able to understand
                  how those principles are applied in practice through a range of student-led
                  activities and competitions.</p>
                  <a class="btn btn--big btn--primary mt-35" href="#">Read more</a>
                </div>
              </div>
            </div>
          </section>
      <section class="section--inverted mt-50" id="schedule">
            <div class="container--schedule m-auto">
              <img class="schedule__icon" src="images/Clock-and-Bell.png" alt="Clock icon">
              <h2 class="title--background m-auto mt-20">University Year</h2>
              <div class="schedule__table mt-100">
                <div class="table__text table__text--top">
                  <h3>Demo classes</h3>
                  <p class="mt-20">In the first week, students try to accommodate with the
                    teaching style and choose their optional courses.</p>
                  </div>
                  <div class="table__text table__text--top">
                    <h3>Graduation Day</h3>
                    <p class="mt-20">On the day of graduation, all students gather for the
                      ceremony and then network and party among others.</p>
                    </div>
                    <img class="mt-20" src="images/Timeline-Item.png" alt="timeline illustration">
                    <div class="table__text table__text--bottom">
                      <h3>Orientation</h3>
                      <p class="mt-20">First day of the university year, all students gather for
                        the opening ceremony and then network with others.</p>
                      </div>
                      <div class="table__text table__text--bottom">
                        <h3>Evaluation</h3>
                        <p class="mt-20">At the end of a semester, students take a general
                          evaluation test for every subject they're learning.</p>
                        </div>
                      </div>
                      <img class="schedule__icon mt-100" src="images/upcoming-events-calendar-icon.png" alt="Calendar icon">
                      <h2 class="mt-20">Upcoming Events</h2>
                      <div class="card_container mt-60">
                        <div class="exposition_card">
                          <h3>Coaching Sessions</h3>
                          <span class="mt-10"><i class="fas fa-calendar-alt"></i> 20 May 21:30 PM</span>
                          <p class="mt-10">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor[...]</p>
                            <a class="btn btn--primary btn--xsmall" href="#"><i class="fas fa-plus"></i> Find More</a>
                          </div><!--
                            !--><div class="exposition_card">
                            <h3>Coaching Sessions</h3>
                            <span class="mt-10"><i class="fas fa-calendar-alt"></i> 24 Mar 18:00 PM</span>
                            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur
                              adipiscing elit, sed do eiusmod tempor[...]</p>
                              <a class="btn btn--primary btn--xsmall" href="#"><i class="fas fa-plus"></i> Find More</a>
                            </div><!--
                              !--><div class="exposition_card">
                              <h3>Coaching Sessions</h3>
                              <span class="mt-10"><i class="fas fa-calendar-alt"></i> 12 Feb 13:30 PM</span>
                              <p class="mt-10">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor[...]</p>
                                <a class="btn btn--primary btn--xsmall" href="#"><i class="fas fa-plus"></i> Find More</a>
                              </div>
                            </div>
                            <a class="btn btn--medium btn--secondary mt-90" href="#">View All Events</a>
                          </div>
                        </section>
      <section id="latest">
        <div class="container--medium mt-30">
          <h2>Latest courses</h2>
          <div class="card_container mt-80">
            <div class="exposition_card">
              <img src="images/Decisions-icon.png" alt="idea icon">
              <h3 class="mt-20">Make better decisions</h3>
              <span class="mt-15"><i class="far fa-user"></i> Teacher: <span class="font--darker">James Colins</span></span>
              <span class="mt-15"><i class="far fa-money-bill-alt"></i> Price: <span class="font--darker">$21.00</span></span>
              <a class="btn btn--primary btn--small" href="#"><i class="far fa-eye"></i> View Course</a>
            </div><!--
              !--><div class="exposition_card">
              <img src="images/Speaker-icon.png" alt="microphone icon">
              <h3 class="mt-20">How to be a speaker</h3>
              <span class="mt-15"><i class="far fa-user"></i> Teacher: <span class="font--darker">James Colins</span></span>
              <span class="mt-15"><i class="far fa-money-bill-alt"></i> Price: <span class="font--darker">Free</span></span>
              <a class="btn btn--primary btn--small" href="#"><i class="far fa-eye"></i> View Course</a>
            </div><!--
              !--><div class="exposition_card">
              <img src="images/Network-icon.png" alt="network icon">
              <h3 class="mt-20">Network introduction</h3>
              <span class="mt-15"><i class="far fa-user"></i> Teacher: <span class="font--darker">James Colins</span></span>
              <span class="mt-15"><i class="far fa-money-bill-alt"></i> Price: <span class="font--darker">Free</span></span>
              <a class="btn btn--primary btn--small" href="#"><i class="far fa-eye"></i> View Course</a>
            </div><!--
              !--><div class="exposition_card">
              <img src="images/Brand-icon.png" alt="smartphones icon">
              <h3 class="mt-20">Brand management</h3>
              <span class="mt-15"><i class="far fa-user"></i> Teacher: <span class="font--darker">James Colins</span></span>
              <span class="mt-15"><i class="far fa-money-bill-alt"></i> Price: <span class="font--darker">Free</span></span>
              <a class="btn btn--primary btn--small" href="#"><i class="far fa-eye"></i> View Course</a>
            </div>
          </div>
        </div>
      </section>
      <section class="container--medium" id="features">
        <div class="feature_box flex_center">
          <div class="feature_box__text">
            <img src="images/Exam-icon.png" alt="exam icon">
            <h2 class="mt-20">The most efficient examination method</h2>
            <p class="mt-40">EduPrime has gathered teachers from around the globe to brainstorm in order to facilitate the evaluation of our students. Every teacher from our university has an influence on how students are evaluated at his/her subject.</p>
            <a class="btn btn--medium btn--primary mt-35" href="#">Discover the method</a>
          </div>
          <img src="images/Exam-Illustration.png" alt="exam illustration" class="feature_box__img">
        </div>
        <div class="feature_box flex_center mt-130">
          <img src="images/Girl-Illustration.png" alt="Girl illustration" class="feature_box__img">
          <div class="feature_box__text">
            <img src="images/Exam-icon-1.png" alt="exam icon">
            <h2 class="mt-20">Variable fees for international students</h2>
            <p class="mt-40">EduPrime has gathered teachers from around the globe tobrainstorm in order to facilitate the evaluation of our students. Every teacher from our university has an influence on how students are evaluated at his/her subject.</p>
            <a class="btn btn--medium btn--primary mt-35" href="#">List of Fees</a>
          </div>
        </div>
      </section>
      <section class="section--inverted mt-100" id="newsletter">
        <div class=" flex_center container--medium">
          <h3>Subscribe Now to Our Newsletter !</h3>
          <div class="input-text_container">
            <input type="text" name="email-input" value="" placeholder="Email address...">
            <button class="btn btn--function btn--circle btn--secondary" type="button" name="button"><i class="fas fa-paper-plane"></i></button>
          </div>
        </div>
      </section>
      <section id="partners">
        <div class="container--medium">
          <h3>Partners</h3>
          <p class="mt-60 m-auto">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy.</p>
          <ul class="partner_logos flex_center mt-30">
            <li v-for="logo in 8" class="mt-20">
              <img class="partner" :src="'images/partner-' + logo + '.png'" alt="'partner' + logo">
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer class="section--inverted">
      <div class="container--medium flex_center">
        <div class="footer__wrapper-1">
          <img class="logo" src="images/theme_eduprime_logo.png" alt="Eduprime logo">
          <p class="mt-40">EduPrime is the most versatile WordPress theme for educational purposes, showcasing universities, courses, secondary schools etc.</p>
          <ul class="socials flex_center mt-40">
            <li v-for="social in footer.socialLinks">
              <a class="btn btn--social-inverted" :href="social.link"><i class="fab" :class="social.icon"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer__wrapper-2 flex_center">
          <div v-for="col in footer.links">
            <h4>{{col.title}}</h4>
            <ul class="mt-30">
              <li class="mt-15" v-for="link in col.links"><a :href="link.href">{{link.text}}</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__wrapper-3">
          <div class="input-text_container">
            <input type="text" name="search-bar" v-model="footer.search" value="" placeholder="Search...">
            <button class="btn btn--function btn--secondary btn--circle" type="button" name="button"><i class="fas fa-search"></i></button>
          </div>
          <h4 class="mt-30">Search categories</h4>
          <div class="mt-10">
            <button v-for="query in footer.searchCategories" v-show="footer.search != query" @click="inputQuery(query)" class="btn btn--function btn--primary-bordered btn--query mt-10" type="button" name="button">{{query}}</button>
          </div>
          <span class="copyright mt-20">ModelTheme. All rights reserved.</span>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
