// General settings
.btn {
  display: inline-block;
  white-space: nowrap;

  &--function {
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &--big,
  &--medium {
    padding: 0 40px;
    border-radius: 40px;
  }

  &--big {
    height: 70px;
    line-height: 70px;
  }

  &--medium {
    height: 64px;
    line-height: 64px;
  }

  &--small {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 30px;
  }

  &--xsmall {
    height: 42px;
    line-height: 38px;
    padding: 0 25px;
    border-radius: 20px;
  }

  &--circle,
  &--circle-small,
  &--social-inverted {
    border-radius: 50%;
  }

  &--circle {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  &--primary:visited
  &--secondary:visited
  &--social-inverted:visited {
    color: $font_color_light;
  }

  &--primary {
    background-color: $bg_color_primary;
    color: $font_color_light;
  }

  &--secondary {
    background-color: $bg_color_secondary;
    color: $font_color_light;
  }

  &--inverted {
    background-color: $bg_color_light;
    color: $font_color_primary;
  }

  &--inverted:visited {
    color: $font_color_primary;
  }

  &--social-inverted {
    background-color: $bg_color_primary;
    color: $font_color_light;
    border: 3px solid $border_color_secondary;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Shadows
main {
  .btn {
    box-shadow: 0 0 20px -3px $border_color_5;
  }

  .section--inverted {
    .btn {
      box-shadow: 0 0 25px -10px $bg_color_dark_2;
    }
  }
}
