// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

// Repeated classes
@for $i from 1 through 26 {
  .mt-#{$i * 5} {
    margin-top: $i * 5px;
  }
}

.flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 240px;
}

.container--medium {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.container--small {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 3%;
}

.section--inverted {
  background-color: $bg_color_primary;
}

@mixin section-decoration {
  content: '';
  background-image: url('../images/wave-1.png');
  background-size: cover;
  position: absolute;
  height: 133px;
  width: 2116px;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.pos-relative {
  position: relative;
}

.input-text_container {
  position: relative;
  input {
    padding-left: 5%;
    height: 70px;
    border-radius: 70px;
    border: none;
    width: 100%;
  }
  .btn {
    position: absolute;
    right: 0;
  }
}
