.feature_box__text {
  width: 50%;
}

.feature_box__text img {
  width: 60px;
}

.feature_box__img {
  width: 45%;
}

#presentation {
  padding-top: 100px;
}

#presentation::before {
  display: block;
  background-image: url('../images/home-background.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  content: '';
  width: 100%;
  height: 470px;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: -1;
}

#features {
  .feature_box__text {
    p {
      width: 450px;
    }
  }
}
