footer {
  padding: 170px 0 100px;
  .input-text_container {
    width: 100%;
  }
}

.footer__wrapper-1 {
  width: 33%;
}

.footer__wrapper-2 {
  width: 28%;
}

.footer__wrapper-3 {
  text-align: right;
  padding-left: 1%;
  width: 30%;
}

.socials {
  width: min-content;
  li:not(:last-child) {
    margin-right: 15px;
  }
}

.queries {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  li:not(:last-child) {
    margin-right: 10px;
  }
}

.copyright {
  display: block;
}
