footer {
  padding: 170px 0 100px;
  .input-text_container {
    width: 100%;
  }
}

.footer__wrapper-1 {
  width: 33%;
}

.footer__wrapper-2 {
  width: 29%;
}

.footer__wrapper-3 {
  width: 29%;
}

.socials {
  width: min-content;
  li:not(:last-child) {
    margin-right: 15px;
  }
}
