header {
  background-image: url('../images/theme_slider2_bg-1.jpg');
  background-size: cover;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bg_color_overlay;
  }

  > * {
    position: relative;
    z-index: 3;
  }

}

// Top-bar
#top-bar {
  padding: 50px 45px 0;
}

#top-bar li:not(:last-child),
#hero .btn:not(:last-child) {
  margin-right: 20px;
}

.logo {
  width: 240px;
}

#hero {
  width: 50%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}

#side-bar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: $bg_color_secondary;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#side-bar > * {
  display: block;
  font-size: 18px;
  padding: 10px;
}

.fa-life-ring {
  transform: rotate(45deg);
}
