#partners {
  padding-top: 80px;
  text-align: center;
  &::after {
    margin-top: 40px;
    margin-bottom: -100px;
    content: '';
    background-image: url('../images/background-wave3.png');
    background-color: $bg_color_4;
    height: 400px;
    width: 100%;
    display: block;
  }

  p {
    width: 535px;
  }
  .partner_logos {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    li {
      &:not(:last-child) {
        margin-right: 15px;
      }
      .partner {
        height: 59.5px;
      }
    }
  }
}
