#partners {
  padding-top: 80px;
  text-align: center;
  &::after {
    margin-top: 40px;
    margin-bottom: -100px;
    content: '';
    background-image: url('../images/background-wave3.png');
    background-color: $bg_color_4;
    height: 400px;
    width: 100%;
    display: block;
  }

  p {
    width: 535px;
  }
  .partner_logos {
    width: 100%;
    li {
      position: relative;
      padding-top: 5%;
      img {
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
      }
    }
  }
}
