#schedule {
  padding: 230px 0 100px;
  overflow: hidden;

  &::before,
  &::after {
    @include section-decoration;
    top: 0;
    left: 0;
    transform: rotate(180deg);
  }

  .container--schedule {
    width: 68%;
  }

  .schedule__icon {
    width: 65px;
  }

}

.title--background {
  background-color: $bg_color_primary_dark;
  width: max-content;
}

.schedule__table img {
  width: 100%;
}

.table__text {
  display: inline-block;
  width: 35%;
  margin-left: 2.5%;
  margin-right: 2.5%;

  &--top {
    left: 10%;
  }

  &--bottom {
    left: -10%;
  }
}
