// General
* {
  font-family: 'Fredoka One', sans-serif;
}

p, input, span {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  font-size: $font_size_300;
}

// Header
header * {
  color: $font_color_light;
}

h1 {
  font-size: $font_size_900;
}

h1 ~ p {
  font-size: $font_size_400;
  line-height: 180%;
}

// Main

h2, h3 {
  color: $font_color_11;
}

h2 {
  font-size: $font_size_800;
}

h2 ~ p {
  color: $font_color_11;
}

p {
  line-height: 150%;
}

.faculty_box h3 {
  color: $font_color_primary;
}

.faculty_overview {

  h3 {
  font-size: $font_size_700;
  }
  p {
    color: $font_color_2;
  }

}
