// General
* {
  font-family: 'Fredoka One', sans-serif;
}

p, input, span {
  font-family: 'Mada', sans-serif;
  font-size: $font_size_400;
}

a {
  text-decoration: none;
}

.btn {
  font-size: $font_size_200;
}

.section--inverted {
  h2, h3, h4, span, p {
  color: $font_color_light;
  }
}

// Header
header * {
  color: $font_color_light;
}

h1 {
  font-size: $font_size_900;
}

h1 ~ p {
  font-size: $font_size_550;
  line-height: 180%;
}

// Main

h2, h3 {
  color: $font_color_11;
}

h2,
#partners h3 {
  font-size: $font_size_800;
}

h2 ~ p,
h3 ~ p {
  color: $font_color_11;
}

p {
  line-height: 150%;
}

.faculty_box h3 {
  color: $font_color_primary;
}

.faculty_overview {

  h3 {
  font-size: $font_size_700;
  }
  p {
    color: $font_color_2;
  }

}

.schedule__table {
  h3 {
    font-size: $font_size_500;
  }
}

#schedule {
  .exposition_card h3 {
    color: $font_color_11;
    font-size: $font_size_600;
  }

  .exposition_card span,
  .exposition_card p {
    color: $font_color_4;
  }

  .exposition_card p {
    font-size: $font_size_300;
  }

  .exposition_card span {
    font-size: $font_size_200;
  }
}

#latest {
  .exposition_card
  span {
    color: $font_color_7;
    font-size: $font_size_200;
  }
  h3 {
    font-size: $font_size_500;
  }
}

#newsletter {
  h3 {
  font-size: 35px;
  }
}
