// General
* {
  font-family: 'Fredoka One', sans-serif;
}

p, input, span,
footer a,
footer .btn--query {
  font-family: 'Mada', sans-serif;
  font-size: $font_size_400;
}

a {
  text-decoration: none;
}

.section--inverted * {
  color: $font_color_light;
}

// Uppercase
#top-bar .btn--secondary,
footer .btn--query {
  text-transform: uppercase;
}

// Header
h1 {
  font-size: $font_size_900;
}

h1 ~ p {
  font-size: $font_size_550;
  line-height: 180%;
}

// Colors

h2, h3 {
  color: $font_color_11;
  ~ p {
    color: $font_color_11;
  }
}


.copyright {
  color: $font_color_secondary
}

// Size
h2,
#partners h3 {
  font-size: $font_size_800;
}

p {
  line-height: 150%;
}

//Faculties
.faculty_box h3 {
  color: $font_color_primary;
}

.faculty_overview {

  h3 {
  font-size: $font_size_700;
  }
  p {
    color: $font_color_2;
  }
}

// Schedule
#schedule {

  .schedule__table {
    h3 {
      font-size: $font_size_500;
    }
  }

  .exposition_card {
    h3 {
    color: $font_color_11;
    font-size: $font_size_600;
    }
  }

  .exposition_card span,
  .exposition_card p {
    color: $font_color_4;
  }

  .exposition_card p {
    font-size: $font_size_300;
  }
}

// Exposition card common
.exposition_card span {
  font-size: $font_size_200;
}

// Latest
#latest {
  .exposition_card
  span {
    color: $font_color_7;
  }
  h3 {
    font-size: $font_size_500;
  }
}

// Newsletter
#newsletter {
  h3 {
  font-size: 35px;
  }
}

// Footer
footer {
  h4 {
    font-size: $font_size_500;
  }

  .btn.btn--query {
    font-size: $font_size_100;
  }

  .footer__wrapper-3 {
    h4 {
      font-size: $font_size_300;
    }
  }
}
