// Colors
$bg_color_light: #FFFFFF;
$bg_color_dark: #000000;
$bg_color_light_2: #FFFFFF80;
$bg_color_dark_2: #000000CC;
$bg_color_primary: #E56768;
$bg_color_secondary: #E9D758;
$bg_color_overlay: #DA5F60E6;
$bg_color_title: #D8282A;
$bg_color_1: #3D404F;
$bg_color_2: #454545;
$bg_color_3: #FAFAFA;
$bg_color_4: #F7F8FA;

// Font colors
$font_color_light: #FFFFFF;
$font_color_dark: #000000;
$font_color_light_2: #FFFFFFCC;
$font_color_primary: #E56768;
$font_color_secondary: #E9D758;
$font_color_1: #79B530;
$font_color_2: #8B8B8A;
$font_color_3: #7F7F7F;
$font_color_4: #74777B;
$font_color_5: #70727E;
$font_color_6: #5C5E6C;
$font_color_7: #434959;
$font_color_8: #454545;
$font_color_9: #3D404F;
$font_color_10: #3F3F3F;
$font_color_11: #223441;
$font_color_12: #252525;
$font_color_13: #151515;

// fill Colors
$fill_color_light: #FFFFFF;
$fill_color_dark: #000000;
$fill_color_primary: #E56768;
$fill_color_1: #69DE89;
$fill_color_2: #82B541;

// border colors
$border_color_light: #FFFFFF;
$border_color_dark: #000000;
$border_color_primary: #E56768;
$border_color_1: #ECECEE;
$border_color_2: #E5ECEF;
$border_color_3: #EAEAEA;
$border_color_4: #E9D758;
$border_color_5: #CCCCCC;
$border_color_6: #79B530;

// Font size
$font_size_900: 60px;
$font_size_800: 45px;
$font_size_700: 38px;
$font_size_600: 22px;
$font_size_500: 20px;
$font_size_400: 18px;
$font_size_300: 16px;
