// Colors
$primary_color: #E36566;
$secondary_color: #EBD95D;

// Font colors
$font_color_dark: black;
$font_color_light: white;

// Font size
$font_size_900: 50px;
$font_size_800: 40px;
$font_size_700: 35px;
$font_size_600: 22px;
$font_size_500: 20px;
$font_size_400: 18px;
$font_size_300: 16px;
